@font-face {
  font-family: "FreightSansPro";
  src: url("../fonts/39DE24_2_0.eot");
  src: url("../fonts/39DE24_2_0.eot?#iefix") format("embedded-opentype"), url("../fonts/39DE24_2_0.woff2") format("woff2"), url("../fonts/39DE24_2_0.woff") format("woff"), url("../fonts/39DE24_2_0.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "FreightSansPro";
  src: url("../fonts/39DE24_0_0.eot");
  src: url("../fonts/39DE24_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/39DE24_0_0.woff2") format("woff2"), url("../fonts/39DE24_0_0.woff") format("woff"), url("../fonts/39DE24_0_0.ttf") format("truetype");
  font-weight: bold;
}
@font-face {
  font-family: "FreightDispPro";
  src: url("../fonts/39DE24_1_0.eot");
  src: url("../fonts/39DE24_1_0.eot?#iefix") format("embedded-opentype"), url("../fonts/39DE24_1_0.woff2") format("woff2"), url("../fonts/39DE24_1_0.woff") format("woff"), url("../fonts/39DE24_1_0.ttf") format("truetype");
  font-weight: bold;
}
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-family: "FreightSansPro", "Helvetica Neue", Arial sans-serif;
  background: #F6FAEC;
  color: #414731;
  font-size: 18px;
  margin: 0;
  line-height: 32px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  position: relative;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.grid {
  display: flex;
}
.grid .col {
  flex: 1;
  margin: 0 1rem;
}
.grid .col:first-child {
  margin: 0 1rem 0 0;
}
.grid .col:last-child {
  margin: 0 0 0 1rem;
}

@media (min-width: 1100px) and (max-height: 850px) {
  .wrapper {
    margin: 5rem auto 0 auto;
  }

  body {
    line-height: 24px;
  }
}
@media (max-width: 1100px) {
  section {
    height: auto;
    padding: 150px 0;
  }
}
@media (max-width: 800px) {
  .wrapper {
    padding: 0 20px;
  }
}
@media (max-width: 600px) {
  section {
    padding: 80px 0;
  }

  .grid {
    display: block;
  }
}
p {
  margin: 12px 0;
  max-width: 880px;
}

.indented {
  text-indent: 30px;
}

h2 {
  font-family: "FreightDispPro", Georgia, serif;
  font-weight: 900;
  font-size: 50px;
  line-height: 60px;
  margin: 0;
  max-width: 840px;
}

h3 {
  color: #96C121;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 16px;
  font-weight: 900;
  margin: 12px 0 12px;
}
h3.is-tight {
  margin: 12px 0 -12px 0;
}

h5 {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
}

a,
a:visited {
  text-decoration: underline;
  color: #414731;
}

blockquote {
  font-weight: bold;
  font-style: italic;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 42px;
  margin: 10px 0 0 0;
  padding: 12px 0 12px 40px;
  border-left: 2px solid #96C121;
}

.centered {
  text-align: center;
}

.centered h2,
.centered p {
  margin: 12px auto;
}

ul {
  list-style-image: url("../img/bullet.svg");
  padding-left: 18px;
}
ul li {
  padding-left: 6px;
}

ul.double-col {
  -webkit-columns: 100px 2;
  -moz-columns: 100px 2;
  columns: 100px 2;
}

.text-green {
  color: #96C121;
}

.text-gold {
  color: #ffc20f;
}

.text-black {
  color: #414731;
}

@media (min-width: 1100px) and (max-height: 850px) {
  p {
    margin: 9px 0;
  }
}
@media (max-width: 800px) {
  h2 {
    font-size: 40px;
    line-height: 48px;
  }

  blockquote {
    margin-top: 0;
  }
}
@media (max-width: 600px) {
  h2 {
    font-size: 30px;
    line-height: 36px;
  }
  h2 br {
    display: none;
  }

  blockquote {
    font-size: 24px;
    line-height: 28px;
    padding-left: 20px;
  }
}
.icon-inline {
  position: relative;
  top: 1px;
  height: 12px;
  width: auto;
  margin: 0 4px 0 3px;
}

#logo {
  position: relative;
}
#logo:focus {
  outline: none;
}

.blocker {
  content: "";
  background-image: radial-gradient(50% 100%, #F6FAEC 50%, rgba(246, 250, 236, 0.79) 70%, rgba(246, 250, 236, 0) 100%);
  position: absolute;
  top: -30px;
  left: 30px;
  right: 30px;
  bottom: -15px;
  z-index: -5;
  transition: opacity 0.3s ease;
  opacity: 0;
  visibility: visible;
}

.logo {
  width: 200px;
  height: 200px;
  display: block;
  background-image: url(../img/tamarack-logo_M&A_Advisors-v2.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 40px 0 0;
  transition: all 0.3s ease;
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 40;
  padding: 0 30px;
}

nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  z-index: 30;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  background-image: linear-gradient(180deg, rgba(246, 250, 236, 0.79) 33%, rgba(246, 250, 236, 0) 99%);
  transition: all 0.3s ease;
}
nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  list-style-image: none;
  width: 100%;
}
nav ul li {
  flex-grow: 1;
  padding: 0;
}
nav li a {
  position: relative;
  display: inline-block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  padding: 55px 0;
  width: 100%;
  text-decoration: none;
  line-height: 36px;
  text-align: center;
  transition: color 0.1s ease, padding 0.3s ease;
}
nav li a:hover {
  color: #ffc20f;
}
nav li a:focus {
  outline: none;
}
nav li.active a,
nav li a.active {
  color: #ffc20f;
}
nav li a:after {
  transform: translateY(10px);
  transition: transform 0.1s ease, opacity 0.1s ease, bottom 0.3s ease;
  content: "";
  position: absolute;
  bottom: 40px;
  left: calc(50% - 5px);
  width: 10px;
  height: 10px;
  background: #ffc20f;
  border-radius: 20px;
  opacity: 0;
  visibility: hidden;
}
nav li.active a:after,
nav li a.active:after {
  opacity: 1;
  visibility: visible;
  transform: translateY(0px);
}
nav .menu-button {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  top: 0;
  right: 0;
  background: url("../img/icon-menu.svg") no-repeat center center;
  width: 120px;
  height: 106px;
}
nav .menu-button:hover {
  cursor: pointer;
}
.menu-active nav .menu-button {
  background-image: url("../img/icon-menu-close.svg");
}

/* Collapsed Nav */
.collapsed {
  background: rgba(246, 250, 236, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}
.collapsed nav {
  background: none;
  padding: 15px 0;
}
.collapsed .logo {
  width: 100px;
  height: 95px;
  margin: 0 30px 0 0;
}
.collapsed .blocker {
  opacity: 1;
  visibility: visible;
  left: -30px;
  right: -5px;
}
.collapsed li a {
  padding: 20px 0;
}
.collapsed li a:after {
  bottom: 10px;
}

@media (max-width: 1100px) {
  nav,
.collapsed nav {
    padding: 15px 0;
  }
  nav ul,
.collapsed nav ul {
    display: none;
  }
  nav .menu-button,
.collapsed nav .menu-button {
    opacity: 1;
    visibility: visible;
  }
  nav .logo,
.collapsed nav .logo {
    margin: 0;
    width: 100px;
    height: 75px;
  }
  nav .blocker,
.collapsed nav .blocker {
    right: -30px;
  }
}
@media (max-width: 800px) {
  nav,
.collapsed nav {
    padding: 10px 0;
  }
  nav .logo,
.collapsed nav .logo {
    width: 70px;
    height: 64px;
  }
  nav .blocker,
.collapsed nav .blocker {
    bottom: -10px;
  }
  nav .menu-button,
.collapsed nav .menu-button {
    height: 73px;
  }
}
.menu-active {
  overflow: hidden;
}
.menu-active #mobile-nav {
  opacity: 1;
  visibility: visible;
}

#mobile-nav {
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  position: fixed;
  background: #F6FAEC;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 30;
  flex-direction: column;
  justify-items: center;
  flex: 1;
  display: flex;
  padding-top: 106px;
}
#mobile-nav a {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;
}

@media (max-width: 800px) {
  #mobile-nav {
    padding-top: 73px;
  }
}
.top {
  background: url("../img/hero.jpg") top center no-repeat #F6FAEC;
  background-size: cover;
  height: 100vh;
  -webkit-clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 7vh), 0 100%);
  clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 7vh), 0 100%);
  margin-bottom: -7vh;
  z-index: 5;
}
.top p {
  max-width: 740px;
}
.top h2 {
  margin-bottom: 18px;
}

.down-arrow {
  position: absolute;
  bottom: 100px;
  left: calc(50% - 20px);
  background: url("../img/icon-down-arrow.svg") center center no-repeat;
  height: 40px;
  width: 40px;
}
.down-arrow:hover {
  cursor: pointer;
}

.about-tamaracks {
  text-align: center;
  display: inline-block;
  background: rgba(255, 255, 255, 0.6);
  padding: 5px 25px 8px;
  font-size: 16px;
  line-height: 24px;
  max-width: 580px;
  border-radius: 2px;
  position: absolute;
  bottom: 8vh;
  left: calc(50% - 290px);
}

@media (max-width: 1100px) {
  .top {
    -webkit-clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 3vh), 0 100%);
    clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 3vh), 0 100%);
  }
}
@media (max-width: 800px) {
  .top {
    height: auto;
    margin-bottom: 0;
  }
  .top p {
    line-height: 24px;
  }

  .down-arrow {
    bottom: 40px;
  }
}
.founders-alternate {
  background: url("../img/founders-alternate.jpg") center center;
  background-size: cover;
}

.wrapper {
  z-index: 20 !important;
}

.sunburst-gold {
  z-index: 1 !important;
}

.two-halves {
  display: flex;
}
.two-halves .col {
  width: 50%;
}
.two-halves .col:first-child {
  padding-right: 40px;
}

@media (max-width: 800px) {
  .two-halves {
    flex-direction: column;
  }
  .two-halves .col {
    width: 100%;
  }
  .two-halves .col:first-child {
    padding: 0 0 20px;
  }
}
.founders-content {
  transition: all 0.2s ease;
}
.founders-active .founders-content {
  opacity: 0;
  visibility: hidden;
}

.founders-cards {
  display: flex;
  margin: 36px 0;
}

.founder-photo {
  width: 100px;
  border-radius: 80px;
}

.founder-card-small {
  background: #FFFFFF;
  padding: 30px;
  width: 100%;
  position: relative;
  padding: 120px 70px 30px 30px;
  min-height: 220px;
  border-radius: 4px;
  box-shadow: 0 6px 12px 0 rgba(65, 71, 49, 0.07);
}
.founder-card-small:first-child {
  margin-right: 15px;
}
.founder-card-small:last-child {
  margin-left: 15px;
}
.founder-card-small h5 {
  margin-top: 25px;
}
.founder-card-small p {
  margin: 0;
  font-size: 18px;
}
.founder-card-small .founder-photo {
  position: absolute;
  top: 30px;
  left: 30px;
}
.founder-card-small .arrow-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 70px;
  margin: 30px 0;
  border-left: 1px solid rgba(65, 71, 49, 0.1);
  background: url("../img/icon-right-arrow.svg") center center no-repeat;
}
.founder-card-small .arrow-right:hover {
  cursor: pointer;
}

@media (max-width: 1100px) {
  .founder-card-small {
    min-height: 160px;
    padding-right: 50px;
  }
  .founder-card-small .founder-photo {
    height: 100px;
    width: 100px;
  }
  .founder-card-small h5 {
    margin-top: 0;
  }
  .founder-card-small a {
    word-break: break-all;
  }
  .founder-card-small .arrow-right {
    width: 50px;
  }
}
@media (max-width: 800px) {
  .founders-cards {
    flex-direction: column;
  }

  .founder-card-small {
    margin: 0 0 20px !important;
    padding: 30px 70px 30px 150px;
  }
}
.founders-cards-large-container {
  transition: opacity 0.1s ease;
  opacity: 0;
  visibility: hidden;
  transform: translateX(-390px);
  position: absolute;
  top: 90px;
  width: 240%;
  display: flex;
}
.founders-active .founders-cards-large-container {
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
  transform: translateY(0);
}
.michael-active .founders-cards-large-container {
  transform: translateX(0);
}
.larry-active .founders-cards-large-container {
  transform: translateX(-30%);
}
.jd-active .founders-cards-large-container {
  transform: translateX(-60%);
}

.founder-card-large {
  position: relative;
  background: #FFFFFF;
  width: 100%;
  min-height: 500px;
  box-shadow: 0 6px 12px 0 rgba(65, 71, 49, 0.07);
  padding: 40px 120px 30px 30px;
  display: flex;
}
.founder-card-large .card-info {
  min-width: 280px;
  margin-right: 30px;
  text-align: center;
}
.founder-card-large .card-info p {
  margin: 0;
  font-size: 18px;
}
.founder-card-large .card-content {
  position: relative;
  width: 100%;
}
.founder-card-large .card-content .work-content,
.founder-card-large .card-content .play-content {
  transition: all 0.3s ease;
  display: block;
}
.founder-card-large .card-content .play-content {
  display: none;
}
.founder-card-large.play-active .work-content {
  display: none;
}
.founder-card-large.play-active .play-content {
  display: block;
}
.founder-card-large h4 {
  font-size: 24px;
  margin: 0;
}
.founder-card-large .vcard {
  display: inline-block;
  padding: 0px 0px 0px 32px;
  line-height: 32px;
  text-decoration: none;
  background: url("../img/icon-vcard.svg") no-repeat left 9px;
}
.founder-card-large .linkedin {
  vertical-align: -6px;
  margin-left: 10px;
  margin-bottom: -6px;
  display: inline-block;
}
.founder-card-large .founder-photo {
  margin: 20px 0;
}
.founder-card-large:first-child {
  margin-right: 15px;
}
.founder-card-large:last-child {
  margin-left: 15px;
}
.founder-card-large .close-x {
  position: absolute;
  top: 0;
  right: 0;
  width: 120px;
  height: 100px;
  background: url(../img/icon-close-x.svg) center center no-repeat;
}
.founder-card-large .close-x:hover {
  cursor: pointer;
}

@media (min-width: 1100px) and (max-height: 850px) {
  .founder-card-large {
    min-height: 470px;
  }
}
.switch {
  width: 130px;
  height: 48px;
  border: 1px solid #96C121;
  border-radius: 48px;
  margin: 20px auto 0;
  position: relative;
}
.switch:hover {
  cursor: pointer;
}
.switch:before {
  content: "work";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  letter-spacing: 1px;
  text-align: left;
  width: 130px;
  padding-left: 20px;
  color: #414731;
  transition: all 0.3s ease;
}
.switch:after {
  content: "play";
  position: absolute;
  display: block;
  opacity: 0;
  visibility: hidden;
  top: 0;
  right: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 16px;
  line-height: 44px;
  letter-spacing: 1px;
  text-align: right;
  width: 130px;
  padding-right: 20px;
  color: #414731;
  transition: all 0.3s ease;
}
.switch .knob {
  transition: all 0.3s ease;
  content: "";
  position: absolute;
  top: 4px;
  right: 4px;
  height: 38px;
  width: 38px;
  border-radius: 40px;
  background: #96C121;
  z-index: 5;
}
.switch.play {
  border-color: #ffc20f;
}
.switch.play:before {
  opacity: 0;
  visibility: hidden;
}
.switch.play:after {
  opacity: 1;
  visibility: visible;
}
.switch.play .knob {
  transform: translateX(-82px);
  background: #ffc20f;
}

.larry-active .michael-large,
.larry-active .jd-large,
.michael-active .larry-large,
.michael-active .jd-large,
.jdel-active .michael-large,
.jd-active .larry-large {
  transition: all 0.3s ease;
  opacity: 0.5;
}

@media (max-width: 1100px) {
  .founder-card-large {
    padding-right: 30px;
    min-height: auto;
  }
  .founder-card-large .close-x {
    height: 60px;
    width: 60px;
  }
}
@media (max-width: 800px) {
  .founders-cards-large-container {
    width: calc(100% - 40px);
    transition: opacity 0.3 ease !important;
    transform: translateX(0);
    top: 60px;
  }

  .founder-card-large {
    flex-direction: column;
    padding: 30px;
    height: auto;
    margin: 0 !important;
  }
  .founder-card-large .card-info {
    text-align: left;
    min-width: auto;
    margin-right: 0;
    padding-left: 120px;
    padding-bottom: 12px;
    padding: 12px 0 24px 140px;
  }
  .founder-card-large .card-info a {
    word-break: break-all;
  }
  .founder-card-large .founder-photo {
    margin: 0;
    width: 100px;
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .founder-card-large .card-content .work-content,
.founder-card-large .card-content .play-content {
    position: relative;
    transition: none;
  }
  .founder-card-large .card-content .play-content {
    display: none;
  }
  .founder-card-large.play-active .work-content {
    display: none;
  }
  .founder-card-large.play-active .play-content {
    display: block;
  }

  .switch {
    position: absolute;
    top: 155px;
    left: 45px;
    margin: 0;
    height: 30px;
    width: 90px;
  }
  .switch .knob {
    width: 20px;
    height: 20px;
  }
  .switch.play .knob {
    transform: translateX(-60px);
  }
  .switch:before {
    padding-left: 12px;
    font-size: 12px;
    line-height: 26px;
  }
  .switch:after {
    padding-right: 12px;
    font-size: 12px;
    line-height: 26px;
  }

  .michael-active .larry-large,
.michael-active .jd-large {
    display: none;
  }
  .michael-active .michael-large {
    opacity: 1;
    visibility: visible;
  }
  .michael-active .founders-cards-large-container {
    transform: translateX(0);
  }

  .larry-active .michael-large,
.larry-active .jd-large {
    display: none;
  }
  .larry-active .larry-large {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
  }
  .larry-active .founders-cards-large-container {
    transform: translateX(0);
  }

  .jd-active .michael-large,
.jd-active .larry-large {
    display: none;
  }
  .jd-active .larry-large {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
  }
  .jd-active .founders-cards-large-container {
    transform: translateX(0);
  }
}
@media (max-width: 600px) {
  .founders-cards-large-container {
    margin: 0 -20px;
    width: 100%;
  }

  .founder-card-large {
    padding: 20px;
  }
  .founder-card-large .founder-photo {
    width: 80px;
    left: 25px;
    top: 30px;
  }
  .founder-card-large .card-info {
    padding-left: 110px;
  }
  .founder-card-large .switch {
    left: 20px;
    top: 130px;
  }
}
/* Indusry Partners */
.industry {
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(65, 71, 49, 0.1);
  background: #FFFFFF;
  padding: 14px 0 7px 0;
  margin-bottom: 15px;
  position: relative;
}
.industry .industry_item {
  position: relative;
  padding: 0 18px 9px 72px;
}
.industry .icon {
  width: 36px;
  height: auto;
  position: absolute;
  top: 2px;
  left: 19px;
}
.industry p {
  margin: 0;
  line-height: 24px;
}
.industry .details {
  font-size: 16px;
}

.partner-logos {
  display: block;
  margin: 20px auto 0;
  max-width: 100%;
  height: auto;
}

.partners-dial {
  text-align: center;
}
.partners-dial img {
  width: 300px;
  height: 300px;
}

.partners-columns {
  text-align: center;
}

.first-col,
.last-col {
  padding-top: 90px;
}

@media (max-width: 600px) {
  .partners-columns {
    text-align: unset;
  }
  .partners-columns .col {
    margin: 0 0 10px !important;
  }

  .first-col,
.last-col {
    padding-top: 0;
  }
}
@media (min-width: 1100px) and (max-height: 850px) {
  .industry {
    padding: 9px 0 3px 0;
    margin-bottom: 9px;
  }
  .industry .icon {
    top: 6px;
  }

  .partners-dial img {
    width: 200px;
    height: 200px;
  }
}
.industries {
  padding-top: 36px;
  display: flex;
  text-align: left;
}
.industries .col {
  width: 33.333%;
  padding: 0 15px;
}
.industries p {
  font-size: 18px;
  margin: 0;
}
.industries ul {
  margin: 0 0 12px;
  font-size: 18px;
}

.icon {
  height: 60px;
  width: auto;
  margin-bottom: 10px;
}

.button {
  border-radius: 4px;
  background: #96C121;
  color: #FFFFFF;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-decoration: none;
  display: block;
  width: 100%;
  text-align: center;
  font-size: 14px;
  line-height: 48px;
}

.sector-grid {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px auto 0;
  max-width: 1140px;
}
.sector-grid .item {
  width: calc(33% - 20px);
  margin: 10px;
  background: #FFFFFF;
  border-radius: 4px;
  text-align: center;
  padding: 30px 30px 30px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.2);
}
.sector-grid .item img {
  margin-bottom: 5px;
  width: 48px;
  height: 48px;
}
.sector-grid .item h4 {
  margin: 0;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #96C121;
}
.sector-grid .item p {
  font-size: 16px;
  margin: 0;
  line-height: 24px;
}
.sector-grid .item:nth-child(even) {
  background: #414731;
  color: #FFFFFF;
}

@media (min-width: 1100px) and (max-height: 850px) {
  .sector-grid .item {
    padding: 20px 30px;
  }
  .sector-grid .item img {
    width: 40px;
    margin-bottom: 0;
    height: 40px;
  }
}
@media (max-width: 800px) {
  .sector-grid .item {
    width: 100%;
    padding: 20px 20px 20px 70px;
    position: relative;
    text-align: left;
    line-height: 24px;
    margin: 0 20px 15px;
  }
  .sector-grid .item img {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 25px;
    left: 20px;
  }
  .sector-grid .item h4 {
    border-bottom: none;
    margin: 0;
    padding-bottom: 0;
    font-size: 18px;
  }
  .sector-grid .item p {
    display: inline;
    line-height: 24px;
  }
  .sector-grid .item p:after {
    content: ",";
  }
  .sector-grid .item p:last-child:after {
    content: "";
  }
}
.transactions-group {
  height: 500px;
  padding: 20px 20px 0 0;
  outline: none;
}

.transaction {
  position: relative;
  height: 140px;
  width: 100%;
  margin: 10px;
  transform: rotateY(0deg);
  transition: transform 0.5s;
  transform-style: preserve-3d;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.transaction.is-flipped {
  transform: rotateY(180deg);
}
.transaction .front,
.transaction .back {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  /* preserve-3d also needed here for chrome first flip hidden bug */
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0 6px 10px rgba(65, 71, 49, 0.05);
  position: absolute;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.transaction .back {
  transform: rotateY(180deg);
  z-index: 1;
  display: flex;
  align-items: center;
}
.transaction .back p {
  padding: 0 20px;
  font-size: 18px;
  line-height: 24px;
}

.transaction .logo-top,
.transaction .logo-bottom {
  position: absolute;
  top: 15px;
  left: 50%;
  width: auto;
  max-width: 160px;
  max-height: 45px;
  transform: translateX(-50%);
}
.transaction .logo-bottom {
  top: auto;
  bottom: 15px;
}
.transaction .info,
.transaction .info-close {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40px;
  height: 40px;
  text-indent: 100%;
  font-size: 0;
  background: url("../img/icon-circle-i.svg") no-repeat center center;
}
.transaction .info:hover,
.transaction .info-close:hover {
  cursor: pointer;
}
.transaction .info:focus,
.transaction .info-close:focus {
  outline: none;
}
.transaction .info-close {
  background-image: url("../img/icon-circle-x.svg");
}
.transaction .front:after {
  content: "";
  position: absolute;
  height: 32px;
  left: 0;
  right: 0;
  top: calc(50% - 15px);
  background: url("../img/transaction-arrow.svg") no-repeat;
  background-size: 100%;
}

@media (min-width: 1100px) and (max-height: 850px) {
  .transaction {
    height: 110px;
  }
  .transaction .logo-top {
    top: 7px;
  }
  .transaction .logo-bottom {
    bottom: 7px;
  }
  .transaction .back p {
    font-size: 16px;
    line-height: 18px;
  }
}
@media (max-width: 1100px) {
  .transaction .back p {
    font-size: 16px;
    line-height: 20px;
  }
}
@media (max-width: 600px) {
  .transaction {
    margin: 0 0 15px;
  }

  .transactions-group {
    height: 465px;
  }
}
@media all and (-ms-high-contrast: none) {
  .transaction {
    transition: none !important;
  }

  .transaction.is-flipped {
    transform: rotateY(0deg) !important;
  }
  .transaction.is-flipped .front {
    opacity: 0;
    visibility: hidden;
    transform: rotateY(0deg);
  }
  .transaction.is-flipped .back {
    opacity: 1;
    visibility: visible;
    transform: rotateY(0deg);
  }
}
.contact-us {
  flex-direction: row;
  padding: 0;
  height: 100vh;
}

.half {
  width: 50%;
  position: relative;
  flex-direction: column;
  z-index: 5;
}

#map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../img/map.png") center center no-repeat;
  background-size: cover;
}

a.pin {
  position: absolute;
  z-index: 5;
  top: calc(50% - 33px);
  left: calc(50% - 27px);
  width: 54px;
  height: 66px;
  background: url("../img/icon-map-pin.svg");
}

.left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 200px 0;
}

.half-wrapper {
  max-width: 600px;
  padding: 0 30px;
  margin-left: auto;
  width: 100%;
  align-self: center;
}

.half-top {
  padding-top: 15vh;
  opacity: 0.5;
}

.half-bottom {
  padding-bottom: 40px;
  font-size: 16px;
  align-self: flex-end;
  position: absolute;
  bottom: 0;
}

@media (max-width: 800px) {
  .contact-us {
    flex-direction: column-reverse;
    height: auto;
  }

  .half {
    width: 100%;
  }

  .half-wrapper {
    max-width: 100%;
    padding: 0 15px;
  }

  .left {
    padding: 60px 0 0;
  }

  .right {
    height: 300px;
  }

  .half-bottom {
    position: relative;
    padding: 30px 15px;
  }
}
@media (max-width: 600px) {
  .right {
    height: 200px;
  }
}
.sunburst-green {
  position: absolute;
  bottom: calc( -1077px / 2);
  right: calc( -1077px / 2);
  background: url(../img/sunburst-green.svg);
  background-size: 100%;
  width: 1077px;
  height: 1077px;
  z-index: -1;
}
.sunburst-green.big {
  width: 1200px;
  height: 1200px;
  bottom: calc( -1200px / 2);
  right: calc( -1200px / 2);
}

.sunburst-gold {
  position: absolute;
  bottom: calc( -1077px / 2);
  left: calc( -1077px / 2);
  background: url(../img/sunburst-gold.svg);
  background-size: 100%;
  width: 1077px;
  height: 1077px;
  z-index: -1;
}
.sunburst-gold.big {
  width: 1200px;
  height: 1200px;
  bottom: calc( -1200px / 2);
  left: calc( -1200px / 2);
}

.parallax-window,
.full-photo {
  /* background: url('../img/needles.jpg'); */
  /* position: absolute; */
  /* bottom: -300px; */
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 10;
  margin: -7vh 0;
  left: 0;
  right: 0;
  height: 600px;
  -webkit-clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
  clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
}

.parallax-mirror {
  -webkit-clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
  clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
  z-index: 10 !important;
}

.photo-1 {
  background-image: url("../img/needles.jpg");
}

.photo-2 {
  background-image: url("../img/tamarack-needles-2.jpg");
}

.photo-3 {
  background-image: url("../img/tamarack-needles.jpg");
}

.photo-4 {
  background-image: url("../img/tamarack-full-color.jpg");
}

@media (max-width: 1100px) {
  .parallax-window,
.full-photo {
    margin: -3vh 0;
    height: 350px;
    -webkit-clip-path: polygon(0px 3vh, 100% 0%, 100% calc(100% - 3vh), 0 100%);
    clip-path: polygon(0px 3vh, 100% 0%, 100% calc(100% - 3vh), 0 100%);
    background-attachment: scroll;
  }

  .parallax-mirror {
    -webkit-clip-path: polygon(0px 3vh, 100% 0%, 100% calc(100% - 3vh), 0 100%);
    clip-path: polygon(0px 3vh, 100% 0%, 100% calc(100% - 3vh), 0 100%);
    z-index: 10 !important;
  }
}
@supports (-webkit-overflow-scrolling: touch) {
  .full-photo {
    background-attachment: scroll;
  }
}
