html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: "freight-sans-pro", sans-serif;
    background: #F6FAEC;
    color: #414731;
    font-size: 20px;
    margin: 0;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
}
.centered {
    text-align: center;
}
.centered h2,
.centered p {
    margin: 0 auto;
}
h2 {
    font-family: "freight-display-pro", sans-serif;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
    max-width: 840px;
}
h3 {
    color: #96C121;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 900;
    margin: 20px 0;
}

p {
    margin: 12px 0;
    max-width: 880px;
}

a,
a:visited {
    text-decoration: underline;
    color: #414731;
}
section {
    /* outline: 1px solid red; */
    height: calc(100vh + 100px);
    /* padding: 0 100px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}

#logo {
    width: 200px;
    height: 152px;
    display: block;
    background-image: url('../img/tamarack-logo.svg');
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 40px 0 0;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-image: linear-gradient(180deg, rgba(246,250,236,0.79) 33%, rgba(246,250,236,0.00) 99%);
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
nav li a {
    /* outline: 1px solid red; */
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 55px 25px;
    text-decoration: none;
    line-height: 36px;
    transition: color 0.2s ease;
}
nav li a.active {
    color: #FFCF42;
}
nav li a.active:after {
    content: '';
    position: absolute;
    bottom: 40px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: #FFCF42;
    border-radius: 20px;
}
nav a:hover {
    color: #FFCF42;
}

#top {
    background: url('../img/hero.jpg') top center no-repeat #F6FAEC;
    background-size: cover;
    height: 100vh;
}
/* #top:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 250px;
    background-image: linear-gradient(180deg, rgba(56,58,50,0.00) 0%, #383A32 99%);
} */


.industries {
    padding-top: 36px;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.icon {
    height: 80px;
    width: auto;
}

.col {
    padding-right: 30px;
}

.why-tamarack {
}

.transactions {
}
.parallax-window,
.full-photo {
    /* background: url('../img/needles.jpg'); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /* position: absolute; */
    position: relative;
    z-index: 5;
    /* bottom: -300px; */
    margin: -100px 0;
    left: 0;
    right: 0;
    height: 600px;
    clip-path: polygon(0px 100px, 100% 0%, 100% calc(100% - 100px), 0 100%);
}
.parallax-mirror {
    clip-path: polygon(0px 100px, 100% 0%, 100% calc(100% - 100px), 0 100%);
    z-index: 10 !important;
}

.sunburst-green {
    position: absolute;
    bottom: calc( -1077px / 2);
    right: calc( -1077px / 2);
    background: url(../img/sunburst-green.svg);
    width: 1077px;
    height: 1077px;
}
.sunburst-gold {
    position: absolute;
    bottom: calc( -1077px / 2);
    left: calc( -1077px / 2);
    background: url(../img/sunburst-gold.svg);
    width: 1077px;
    height: 1077px;
}
