
// Transactions
.transactions-group {
  height: 500px;
  padding: 20px 10px 0 10px;
  outline: none;
}

// Transaction Card
.transaction {
  position: relative;
  height: 140px;
  width: 100%;
  margin: 10px;
  transform: rotateY(0deg);
  transition: transform 1s;
  transform-style: preserve-3d;
  animation-fill-mode: forwards;


  &.is-flipped {
    transform: rotateY(180deg);
  }

  .front,
  .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    background: $white;
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba($black, .05);
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .back {
    transform: rotateY(180deg);
    z-index: 1;
    display: flex;
    align-items: center;
    p {
        padding: 0 20px;
        font-size: 18px;
        line-height: 24px;
    }
  }
}

.transaction {
  .logo-top,
  .logo-bottom {
      position: absolute;
      top: 15px;
      left: 50%;
      width: auto;
      max-width: 160px;
      max-height: 45px;
      transform: translateX(-50%);
  }
  .logo-bottom {
      top: auto;
      bottom: 15px;
  }
  .info,
  .info-close {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 40px;
      text-indent: 100%;
      font-size: 0;
      background: url('../img/icon-circle-i.svg') no-repeat center center;
      &:hover {
          cursor: pointer;
      }
      &:focus {
          outline: none;
      }
  }
  .info-close {
      background-image: url('../img/icon-circle-x.svg');
  }
  // Down Arrow
  .front:after {
      content: '';
      position: absolute;
      height: 32px;
      left: 0;
      right: 0;
      top: calc(50% - 15px);
      background: url('../img/transaction-arrow.svg') no-repeat;
      background-size: 100%;
  }

}

// Short displays but still wide
@include breakpoint(short) {
  .transaction {
    height: 110px;
    .logo-top {
      top: 7px;
    }
    .logo-bottom {
      bottom: 7px;
    }
    .back p {
      font-size: 16px;
      line-height: 18px;
    }
  }
}

@include breakpoint(large) {
  .transaction .back p {
    font-size: 16px;
    line-height: 20px;
  }
}

@include breakpoint(small) {
  .transaction {
      margin: 0 0 15px;
  }
  .transactions-group {
      height: 465px;
  }
}

// IE 11 fixes
@media all and (-ms-high-contrast:none) {
  .transaction {
    transition: none !important;
  }
  .transaction.is-flipped {
    transform: rotateY(0deg) !important;
    .front {
      opacity: 0;
      visibility: hidden;
      transform: rotateY(0deg);
    }
    .back {
      opacity: 1;
      visibility: visible;
      transform: rotateY(0deg);
    }
  }
}
