
//
// Tamarack Partners
//

// Colors

$white:     #FFFFFF;
$offwhite:  #F6FAEC;
$black:     #414731;
$green:     #96C121;
$gold:      darken(#FFCF42, 10);


// Fonts

@font-face {
    font-family: 'FreightSansPro';
    src: url('../fonts/39DE24_2_0.eot');
    src: url('../fonts/39DE24_2_0.eot?#iefix') format('embedded-opentype'),url('../fonts/39DE24_2_0.woff2') format('woff2'),url('../fonts/39DE24_2_0.woff') format('woff'),url('../fonts/39DE24_2_0.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'FreightSansPro';
    src: url('../fonts/39DE24_0_0.eot');
    src: url('../fonts/39DE24_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/39DE24_0_0.woff2') format('woff2'),url('../fonts/39DE24_0_0.woff') format('woff'),url('../fonts/39DE24_0_0.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'FreightDispPro';
    src: url('../fonts/39DE24_1_0.eot');
    src: url('../fonts/39DE24_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/39DE24_1_0.woff2') format('woff2'),url('../fonts/39DE24_1_0.woff') format('woff'),url('../fonts/39DE24_1_0.ttf') format('truetype');
    font-weight: bold;
}

$freight-display:   "FreightDispPro", Georgia, serif;
$freight-sans:      "FreightSansPro", "Helvetica Neue", Arial sans-serif;


// Mixins

@mixin breakpoint($point) {
  @if $point == large {
    @media (max-width: 1100px) { @content; }
  }
  @else if $point == medium {
    @media (max-width: 800px) { @content; }
  }
  @else if $point == small {
    @media (max-width: 600px) { @content; }
  }
  @else if $point == short {
    @media (min-width: 1100px) and (max-height: 850px) { @content; }
  }
  // For custom breakpoint sizes
  @else if $point > 0 {
    @media (max-width: #{$point}px)  { @content; }
  }
}

// Layout

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: $freight-sans;
    background: $offwhite;
    color: $black;
    font-size: 18px;
    margin: 0;
    line-height: 32px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}
section {
    // height: calc(100vh + 100px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.grid {
    display: flex;
    .col {
        flex: 1;
        margin: 0 1rem;
        &:first-child {
            margin: 0 1rem 0 0;
        }
        &:last-child {
            margin: 0 0 0 1rem;
        }
    }
}

@include breakpoint(short) {
    .wrapper {
        margin: 5rem auto 0 auto;
    }
    body {
        line-height: 24px;
    }
}
@include breakpoint(large) {
    section {
        height: auto;
        padding: 150px 0;
    }
}
@include breakpoint(medium) {
    .wrapper {
        padding: 0 20px;
    }
}
@include breakpoint(small) {
    section {
        padding: 80px 0;
    }
    .grid {
        display: block;
    }
}


// Typography

p {
    margin: 12px 0;
    max-width: 880px;
}
.indented {
    text-indent: 30px;
}
h2 {
    font-family: $freight-display;
    font-weight: 900;
    font-size: 50px;
    line-height: 60px;
    margin: 0;
    max-width: 840px;
}
h3 {
    color: $green;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 900;
    margin: 12px 0 12px;

    &.is-tight {
        margin: 12px 0 -12px 0;
    }
}
h5 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

a,
a:visited {
    text-decoration: underline;
    color: $black;
}
blockquote {
    font-weight: bold;
    font-style: italic;
    font-size: 30px;
    letter-spacing: -1px;
    line-height: 42px;
    margin: 10px 0 0 0;
    padding: 12px 0 12px 40px;
    border-left: 2px solid $green;
}
.centered {
    text-align: center;
}
.centered h2,
.centered p {
    margin: 12px auto;
}

ul {
    list-style-image: url('../img/bullet.svg');
    padding-left: 18px;
    li {
        padding-left: 6px;
    }
}
ul.double-col {
    columns: 100px 2;
}

@include breakpoint(short) {
    p {
        margin: 9px 0;
    }
}
@include breakpoint(medium) {
    h2 {
        font-size: 40px;
        line-height: 48px;
    }
    blockquote {
        margin-top: 0;
    }
}

@include breakpoint(small) {
    h2 {
        font-size: 30px;
        line-height: 36px;
        br {
            display: none;
        }
    }
    blockquote {
        font-size: 24px;
        line-height: 28px;
        padding-left: 20px;
    }
}

// Icons
.icon-inline  {
    position: relative;
    top: 1px;
    height: 12px;
    width: auto;
    margin: 0 4px 0 3px;
}

// Navigation

#logo {
    position: relative;
    &:focus {
        outline: none;
    }
}
.blocker {
    content: '';
    background-image: radial-gradient(50% 100%, #F6FAEC 50%, rgba(246,250,236,0.79) 70%, rgba(246,250,236,0.00) 100%);
    position: absolute;
    top: -30px;
    left: 30px;
    right: 30px;
    bottom: -15px;
    z-index: -5;
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: visible;
}

.logo {
    width: 200px;
    height: 152px;
    display: block;
    background-image: url('../img/tamarack-logo.svg');
    background-size: 100%;
    background-repeat: no-repeat;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 40px 0 0;
    transition: all 0.3s ease;
}
.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 40;
    padding: 0 30px;
}
nav {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    z-index: 30;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-image: linear-gradient(180deg, rgba(246,250,236,0.79) 33%, rgba(246,250,236,0.00) 99%);
    transition: all 0.3s ease;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
        display: flex;
        list-style-image: none;
        width: 100%;
        li {
            flex-grow: 1;
            padding: 0;
        }
    }
    li a {
        position: relative;
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        // letter-spacing: 2px;
        font-size: 14px;
        padding: 55px 0;
        width: 100%;
        text-decoration: none;
        line-height: 36px;
        text-align: center;
        transition: color 0.1s ease, padding 0.3s ease;
        &:hover {
            color: $gold;
        }
        &:focus {
            outline: none;
        }
    }
    li.active a,
    li a.active {
        color: $gold;
    }
    li a:after {
        transform: translateY(10px);
        transition: transform 0.1s ease, opacity 0.1s ease, bottom 0.3s ease;
        content: '';
        position: absolute;
        bottom: 40px;
        left: calc(50% - 5px);
        width: 10px;
        height: 10px;
        background: $gold;
        border-radius: 20px;
        opacity: 0;
        visibility: hidden;
    }
    li.active a:after,
    li a.active:after {
        opacity: 1;
        visibility: visible;
        transform: translateY(0px);
    }
    .menu-button {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        background: url('../img/icon-menu.svg') no-repeat center center;
        width: 120px;
        height: 106px;
        &:hover {
            cursor: pointer;
        }
        .menu-active & {
            background-image: url('../img/icon-menu-close.svg');
        }
    }
}

/* Collapsed Nav */
.collapsed {
    background: rgba($offwhite,0.90);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    nav {
        background: none;
        padding: 15px 0;
    }
    .logo {
        width: 100px;
        height: 75px;
        margin: 0 30px 0 0;
    }
    .blocker {
        opacity: 1;
        visibility: visible;
        left: -30px;
        right: -5px;
    }
    li a {
        padding: 20px 0;
        &:after {
            bottom: 10px;
        }
    }
}

@include breakpoint(large) {
    nav,
    .collapsed nav {
        padding: 15px 0;
        ul {
            display: none;
        }
        .menu-button {
            opacity: 1;
            visibility: visible;
        }
        .logo {
            margin: 0;
            width: 100px;
            height: 75px;
        }
        .blocker {
            right: -30px;
        }
    }
}
@include breakpoint(medium) {
    nav,
    .collapsed nav {
        padding: 10px 0;
        .logo {
            width: 70px;
            height: 53px;
        }
        .blocker {
            bottom: -10px;
        }
        .menu-button {
            height: 73px;
        }
    }
}

// Mobile Menu

.menu-active {
    overflow: hidden;
    #mobile-nav {
        opacity: 1;
        visibility: visible;
    }
}
#mobile-nav {
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    position: fixed;
    background: $offwhite;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    flex-direction: column;
    justify-items: center;
    flex: 1;
    display: flex;
    padding-top: 106px;
    a {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
        text-decoration: none;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 1px;
    }
}
@include breakpoint(medium) {
    #mobile-nav {
        padding-top: 73px;
    }
}

// Top Section

.top {
    background: url('../img/hero.jpg') top center no-repeat $offwhite;
    background-size: cover;
    height: 100vh;
    -webkit-clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 7vh), 0 100%);
    clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 7vh), 0 100%);
    margin-bottom: -7vh;
    z-index: 5;
    p {
        max-width: 740px;
    }
    h2 {
        margin-bottom: 18px;
    }
}
.down-arrow {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 20px);
    background: url('../img/icon-down-arrow.svg') center center no-repeat;
    height: 40px;
    width: 40px;
    &:hover {
        cursor: pointer;
    }
}
.about-tamaracks {
    text-align: center;
    display: inline-block;
    background: rgba($white, .6);
    padding: 5px 25px 8px;
    font-size: 16px;
    line-height: 24px;
    max-width: 580px;
    border-radius: 2px;
    position: absolute;
    bottom: 8vh;
    left: calc(50% - 290px);
}

@include breakpoint(large) {
    .top {
        -webkit-clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 3vh), 0 100%);
        clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 3vh), 0 100%);
    }
}
@include breakpoint(medium) {
    .top {
        height: auto;
        margin-bottom: 0;
        p {
            line-height: 24px;
        }
    }
    .down-arrow {
        bottom: 40px;
    }
}


// Founders

.founders-alternate {
    background: url('../img/founders-alternate.jpg') center center;
    background-size: cover;
}
.wrapper {
    z-index: 20 !important;
}
.sunburst-gold {
    z-index: 1 !important;
}

.two-halves {
    display: flex;
    .col {
        width: 50%;
        &:first-child {
            padding-right: 40px;
        }
    }
}
@include breakpoint(medium) {
    .two-halves {
        flex-direction: column;
        .col {
            width: 100%;
            &:first-child {
                padding: 0 0 20px;
            }
        }
    }
}
.founders-content {
    transition: all 0.2s ease;
    .founders-active & {
        opacity: 0;
        visibility: hidden;
    }
}
.founders-cards {
    display: flex;
    margin: 36px 0;
}
.founder-photo {
    width: 100px;
    border-radius: 80px;
}
.founder-card-small {
    background: $white;
    padding: 30px;
    width: 100%;
    position: relative;
    padding: 120px 70px 30px 30px;
    min-height: 220px;
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba($black,0.07);
    // &:hover {
    //     cursor: pointer;
    // }
    &:first-child {
        margin-right: 15px;
    }
    &:last-child {
        margin-left: 15px;
    }
    h5 {
        margin-top: 25px;
    }
    p {
        margin: 0;
        font-size: 18px;
    }
    .founder-photo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .arrow-right {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70px;
        margin: 30px 0;
        border-left: 1px solid rgba($black, .1);
        background: url('../img/icon-right-arrow.svg') center center no-repeat;
        &:hover {
            cursor: pointer;
        }
    }
}

@include breakpoint(large) {
    .founder-card-small {
        min-height: 160px;
        // padding-left: 150px;
        padding-right: 50px;
        .founder-photo {
            height: 100px;
            width: 100px;
        }
        h5 {
            margin-top: 0;
        }
        a {
            word-break: break-all;
        }
        .arrow-right {
            width: 50px;
        }
    }
}
@include breakpoint(medium) {
    .founders-cards {
        flex-direction: column;
    }
    .founder-card-small {
        margin: 0 0 20px !important;
        padding: 30px 70px 30px 150px;
    }
}

.founders-cards-large-container {
    transition: opacity 0.1s ease;
    opacity: 0;
    visibility: hidden;
    // transform: translateY(60px);
    // transform: translate(-390px,60px);
    transform: translateX(-390px);
    position: absolute;
    top: 90px;
    width: 240%;
    display: flex;
    .founders-active & {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
        transform: translateY(0);
    }
    .michael-active & {
        transform: translateX(0);
    }
    .larry-active & {
        transform: translateX(-30%);
    }
    .jd-active & {
        transform: translateX(-60%);
    }
}

.founder-card-large {
    position: relative;
    background: $white;
    width: 100%;
    min-height: 500px;
    box-shadow: 0 6px 12px 0 rgba($black,0.07);
    padding: 40px 120px 30px 30px;
    display: flex;
    .card-info {
        min-width: 280px;
        margin-right: 30px;
        text-align: center;
        p {
            margin: 0;
            font-size: 18px;
        }
    }
    .card-content {
        position: relative;
        width: 100%;
        .work-content,
        .play-content {
            // position: absolute;
            // top: 0;
            // left: 0;
            // right: 0;
            transition: all 0.3s ease;
            display: block;
        }
        .play-content {
            // opacity: 0;
            // visibility: hidden;
            display: none;
        }
    }
    &.play-active {
        .work-content {
            // opacity: 0;
            // visibility: hidden;
            display: none;
        }
        .play-content {
            // opacity: 1;
            // visibility: visible;
            display: block;
        }
    }
    h4 {
        font-size: 24px;
        margin: 0;
    }
    .vcard {
        display: inline-block;
        padding: 0px 0px 0px 32px;
        line-height: 32px;
        text-decoration: none;
        background: url('../img/icon-vcard.svg') no-repeat left 9px;
    }
    .linkedin {
        vertical-align: -6px;
        margin-left: 10px;
        margin-bottom: -6px;
        display: inline-block;
    }
    .founder-photo {
        margin: 20px 0;
    }
    &:first-child {
        margin-right: 15px;
    }
    &:last-child {
        margin-left: 15px;
    }
    .close-x {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 100px;
        background: url(../img/icon-close-x.svg) center center no-repeat;
        &:hover {
            cursor: pointer;
        }
    }
}
@include breakpoint(short) {
    .founder-card-large {
        min-height: 470px;
    }
}

.switch {
    width: 130px;
    height: 48px;
    border: 1px solid $green;
    border-radius: 48px;
    margin: 20px auto 0;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    &:before {
        content: "work";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 1px;
        text-align: left;
        width: 130px;
        padding-left: 20px;
        color: $black;
        transition: all 0.3s ease;
    }
    &:after {
        content: "play";
        position: absolute;
        display: block;
        opacity: 0;
        visibility: hidden;
        top: 0;
        right: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 1px;
        text-align: right;
        width: 130px;
        padding-right: 20px;
        color: $black;
        transition: all 0.3s ease;
    }
    // Switch Knob
    .knob {
        transition: all 0.3s ease;
        content: '';
        position: absolute;
        top: 4px;
        right: 4px;
        height: 38px;
        width: 38px;
        border-radius: 40px;
        background: $green;
        z-index: 5;
    }
    &.play {
        border-color: $gold;
        &:before {
            opacity: 0;
            visibility: hidden;
        }
        &:after {
            opacity: 1;
            visibility: visible;
        }
        .knob {
            transform: translateX(-82px);
            background: $gold;
        }
    }
}

.larry-active .michael-large,
.larry-active .jd-large,
.michael-active .larry-large,
.michael-active .jd-large,
.jdel-active .michael-large,
.jd-active .larry-large {
    transition: all 0.3s ease;
    opacity: 0.5;
}

@include breakpoint(large) {
    .founder-card-large {
        padding-right: 30px;
        min-height: auto;
        .close-x {
            height: 60px;
            width: 60px;
        }
    }
}
@include breakpoint(medium) {
    .founders-cards-large-container {
        width: calc(100% - 40px);
        transition: opacity .3 ease !important;
        transform: translateX(0);
        top: 60px;
    }
    .founder-card-large {
        flex-direction: column;
        padding: 30px;
        height: auto;
        margin: 0 !important;
        .card-info {
            text-align: left;
            min-width: auto;
            margin-right: 0;
            padding-left: 120px;
            padding-bottom: 12px;
            padding: 12px 0 24px 140px;
            a {
                word-break: break-all;
            }
        }
        .founder-photo {
            margin: 0;
            width: 100px;
            position: absolute;
            top: 40px;
            left: 40px;
        }
        .card-content {
            .work-content,
            .play-content {
                position: relative;
                transition: none;
            }
            .play-content {
                display: none;
            }
        }
        &.play-active {
            .work-content {
                display: none;
            }
            .play-content {
                display: block;
            }
        }
    }
    .switch {
        position: absolute;
        top: 155px;
        left: 45px;
        margin: 0;
        height: 30px;
        width: 90px;
        .knob {
            width: 20px;
            height: 20px;
        }
        &.play .knob {
            transform: translateX(-60px);
        }
        &:before {
            padding-left: 12px;
            font-size: 12px;
            line-height: 26px;
        }
        &:after {
            padding-right: 12px;
            font-size: 12px;
            line-height: 26px;
        }
    }
    .michael-active {
        .larry-large,
        .jd-large {
            display: none;
        }
        .michael-large {
            opacity: 1;
            visibility: visible;
        }
        .founders-cards-large-container {
            transform: translateX(0);
        }
    }
    .larry-active {
        .michael-large,
        .jd-large {
            display: none;
        }
        .larry-large {
            opacity: 1;
            visibility: visible;
            margin-left: 0;
        }
        .founders-cards-large-container {
            transform: translateX(0);
        }
    }
    .jd-active {
        .michael-large,
        .larry-large {
            display: none;
        }
        .larry-large {
            opacity: 1;
            visibility: visible;
            margin-left: 0;
        }
        .founders-cards-large-container {
            transform: translateX(0);
        }
    }
}

@include breakpoint(small) {
    .founders-cards-large-container {
        margin: 0 -20px;
        width: 100%;
    }
    .founder-card-large {
        padding: 20px;
        .founder-photo {
            width: 80px;
            left: 25px;
            top: 30px;
        }
        .card-info {
            padding-left: 110px;
        }
        .switch {
            left: 20px;
            top: 130px;
        }
    }
}

/* Why Tamarack */
.industry {
    border-radius: 8px;
    box-shadow: 0 6px 10px rgba($black, .1);
    background: $white;
    padding: 14px 0 7px 0;
    margin-bottom: 15px;
    position: relative;

    .industry_item {
        position: relative;
        padding: 0 18px 9px 72px;
    }
    .icon {
        width: 36px;
        height: auto;
        position: absolute;
        top: 2px;
        left: 19px;
    }
    p {
        margin: 0;
        line-height: 24px;
    }
    .details {
        font-size: 16px;
    }
}
.partners-dial {
    text-align: center;

    img {
        width: 250px;
        height: 250px;
    }
}

@include breakpoint(short) {
    .industry {
        padding: 9px 0 3px 0;
        margin-bottom: 9px;

        .icon {
            top: 6px;
        }
    }
}

// Industries

.industries {
    padding-top: 36px;
    display: flex;
    text-align: left;
    .col {
        width: 33.333%;
        padding: 0 15px;
    }
    p {
        font-size: 18px;
        margin: 0;
    }
    ul {
        margin: 0 0 12px;
        font-size: 18px;
        // line-height: 28px;
    }
}
.icon {
    height: 60px;
    width: auto;
    margin-bottom: 10px;
}

.button {
    border-radius: 4px;
    background: $green;
    color: $white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    display: block;
    width: 100%;
    text-align: center;
    font-size: 14px;
    line-height: 48px;
}


@import '_transactions.scss';



// Contact us

.contact-us {
    flex-direction: row;
    padding: 0;
    height: 100vh;
}

.half {
    width: 50%;
    position: relative;
    flex-direction: column;
    z-index: 5;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url('../img/map.png') center center no-repeat;
    background-size: cover;
}
a.pin {
    position: absolute;
    z-index: 5;
    top: calc(50% - 33px);
    left: calc(50% - 27px);
    width: 54px;
    height: 66px;
    background: url('../img/icon-map-pin.svg');
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 200px 0;
}
.half-wrapper {
    max-width: 600px;
    padding: 0 30px;
    margin-left: auto;
    width: 100%;
    align-self: center;
}
.half-top {
    padding-top: 15vh;
    opacity: 0.5;
}
.half-bottom {
    padding-bottom: 40px;
    font-size: 16px;
    align-self: flex-end;
    position: absolute;
    bottom: 0;
}

@include breakpoint(medium) {
    .contact-us {
        flex-direction: column-reverse;
        height: auto;
    }
    .half {
        width: 100%;
    }
    .half-wrapper {
        max-width: 100%;
        padding: 0 15px;
    }
    .left {
        padding: 60px 0 0;
    }
    .right {
        height: 300px;
    }
    .half-bottom {
        position: relative;
        padding: 30px 15px;
    }
}

@include breakpoint(small) {
    .right {
        height: 200px;
    }
}


// Sunbursts

.sunburst-green {
    position: absolute;
    bottom: calc( -1077px / 2);
    right: calc( -1077px / 2);
    background: url(../img/sunburst-green.svg);
    background-size: 100%;
    width: 1077px;
    height: 1077px;
    z-index: -1;
    &.big {
        width: 1200px;
        height: 1200px;
        bottom: calc( -1200px / 2);
        right: calc( -1200px / 2);
    }
}
.sunburst-gold {
    position: absolute;
    bottom: calc( -1077px / 2);
    left: calc( -1077px / 2);
    background: url(../img/sunburst-gold.svg);
    background-size: 100%;
    width: 1077px;
    height: 1077px;
    z-index: -1;
    &.big {
        width: 1200px;
        height: 1200px;
        bottom: calc( -1200px / 2);
        left: calc( -1200px / 2);
    }
}

// Parallax

.parallax-window,
.full-photo {
    /* background: url('../img/needles.jpg'); */
    // background: url('../img/needles.jpg');
    /* position: absolute; */
    /* bottom: -300px; */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 10;
    margin: -7vh 0;
    left: 0;
    right: 0;
    height: 600px;
    -webkit-clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
    clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
}
.parallax-mirror {
    -webkit-clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
    clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
    z-index: 10 !important;
}

.photo-1 { background-image: url('../img/needles.jpg'); }
.photo-2 { background-image: url('../img/tamarack-needles-2.jpg');}
.photo-3 { background-image: url('../img/tamarack-needles.jpg');}
.photo-4 { background-image: url('../img/tamarack-full-color.jpg');}

@include breakpoint(large) {
    .parallax-window,
    .full-photo {
        margin: -3vh 0;
        height: 350px;
        -webkit-clip-path: polygon(0px 3vh, 100% 0%, 100% calc(100% - 3vh), 0 100%);
        clip-path: polygon(0px 3vh, 100% 0%, 100% calc(100% - 3vh), 0 100%);
        background-attachment: scroll;
    }
    .parallax-mirror {
        -webkit-clip-path: polygon(0px 3vh, 100% 0%, 100% calc(100% - 3vh), 0 100%);
        clip-path: polygon(0px 3vh, 100% 0%, 100% calc(100% - 3vh), 0 100%);
        z-index: 10 !important;
    }
}

@supports (-webkit-overflow-scrolling: touch) {
    .full-photo {
        background-attachment: scroll;
    }
}
