
//
// Tamarack Partners
//

// Colors

$white:     #FFFFFF;
$offwhite:  #F6FAEC;
$black:     #414731;
$green:     #96C121;
$gold:      #FFCF42;


// Font Families

$freight-display:   "freight-display-pro", Georgia, serif;
$freight-sans:      "freight-sans-pro", "Helvetica Neue", Arial sans-serif;


// Layout

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
    font-family: $freight-sans;
    background: $offwhite;
    color: $black;
    font-size: 20px;
    margin: 0;
    line-height: 36px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 30px;
    position: relative;
}
section {
    height: calc(100vh + 100px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    overflow: hidden;
}


// Typography

p {
    margin: 12px 0;
    max-width: 880px;
}
.indented {
    text-indent: 30px;
}
h2 {
    font-family: $freight-display;
    font-weight: 900;
    font-size: 60px;
    line-height: 72px;
    margin: 0;
    max-width: 840px;
}
h3 {
    color: $green;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 900;
    margin: 20px 0;
}
h5 {
    font-size: 20px;
    font-weight: bold;
    margin: 0;
}

a,
a:visited {
    text-decoration: underline;
    color: $black;
}
blockquote {
    font-weight: bold;
    font-style: italic;
    font-size: 40px;
    letter-spacing: -1px;
    line-height: 48px;
    margin: -10px 0 0 0;
    padding: 24px 0 24px 30px;
    border-left: 2px solid $green;
}
.centered {
    text-align: center;
}
.centered h2,
.centered p {
    margin: 12px auto;
}


// Navigation

#logo {
    width: 200px;
    height: 152px;
    display: block;
    background-image: url('../img/tamarack-logo.svg');
    background-size: 100%;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 40px 0 0;
    transition: all 0.3s ease;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;
    background-image: linear-gradient(180deg, rgba(246,250,236,0.79) 33%, rgba(246,250,236,0.00) 99%);
    transition: all 0.3s ease;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
}
nav li a {
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 55px 25px;
    text-decoration: none;
    line-height: 36px;
    transition: color 0.1s ease, padding 0.3s ease;
    &:hover {
        color: $gold;
    }
}
nav li.active a {
    color: $gold;
}
nav li a:after {
    transform: translateY(10px);
    transition: transform 0.1s ease, opacity 0.1s ease, bottom 0.3s ease;
    content: '';
    position: absolute;
    bottom: 40px;
    left: calc(50% - 5px);
    width: 10px;
    height: 10px;
    background: #FFCF42;
    border-radius: 20px;
    opacity: 0;
    visibility: hidden;
}
nav li.active a:after {
    opacity: 1;
    visibility: visible;
    transform: translateY(0px);
}

/* Collapsed Nav */
.collapsed {
    padding: 15px 0;
    background: rgba(246,250,236,0.90);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
}
.collapsed #logo {
    width: 100px;
    height: 75px;
    margin: 0 70px;
}
.collapsed li a {
    padding: 20px 25px;
    &:after {
        bottom: 10px;
    }
}


// Top Section

#top {
    background: url('../img/hero.jpg') top center no-repeat $offwhite;
    background-size: cover;
    height: 100vh;
    clip-path: polygon(0px 0, 100% 0%, 100% calc(100% - 7vh), 0 100%);
    margin-bottom: -7vh;
}
.down-arrow {
    position: absolute;
    bottom: 100px;
    left: calc(50% - 20px);
    background: url('../img/icon-down-arrow.svg') center center no-repeat;
    height: 40px;
    width: 40px;
}


// Founders

.founders {}

.two-halves {
    display: flex;
    .col {
        width: 50%;
    }
}
.founders-content {
    transition: all 0.2s ease;
    .founders-active & {
        opacity: 0;
        visibility: hidden;
    }
}
.founders-cards {
    display: flex;
    margin: 36px 0;
}
.founder-photo {
    width: 160px;
    border-radius: 80px;
}
.founder-card-small {
    background: $white;
    padding: 30px;
    width: 100%;
    position: relative;
    padding: 30px 30px 30px 220px;
    min-height: 220px;
    border-radius: 4px;
    box-shadow: 0 6px 12px 0 rgba($black,0.07);
    // &:hover {
    //     cursor: pointer;
    // }
    &:first-child {
        margin-right: 15px;
    }
    &:last-child {
        margin-left: 15px;
    }
    h5 {
        margin-top: 25px;
    }
    p {
        margin: 0;
        font-size: 18px;
    }
    .founder-photo {
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .arrow-right {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        width: 70px;
        margin: 30px 0;
        border-left: 1px solid rgba($black, .1);
        background: url('../img/icon-right-arrow.svg') center center no-repeat;
        &:hover {
            cursor: pointer;
        }
    }
}
.founders-cards-large-container {
    transition: opacity 0.3s ease;
    opacity: 0;
    visibility: hidden;
    // transform: translateY(60px);
    // transform: translate(-390px,60px);
    transform: translateX(-390px);
    position: absolute;
    top: 90px;
    width: 160%;
    display: flex;
    .founders-active & {
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease;
        transform: translateY(0);
    }
    .michael-active & {
        transform: translateX(0);
    }
    .larry-active & {
        transform: translateX(-780px);
    }
}

.founder-card-large {
    position: relative;
    background: $white;
    width: 100%;
    height: 600px;
    box-shadow: 0 6px 12px 0 rgba($black,0.07);
    padding: 60px 120px 30px 30px;
    display: flex;
    .card-info {
        // width: 40%;
        min-width: 280px;
        margin-right: 30px;
        text-align: center;
        p {
            margin: 0;
            font-size: 18px;
        }
    }
    h4 {
        font-size: 24px;
        margin: 0;
    }
    .founder-photo {
        margin: 20px 0;
    }
    &:first-child {
        margin-right: 15px;
    }
    &:last-child {
        margin-left: 15px;
    }
    .close-x {
        position: absolute;
        top: 0;
        right: 0;
        width: 120px;
        height: 100px;
        background: url(../img/icon-close-x.svg) center center no-repeat;
        &:hover {
            cursor: pointer;
        }
    }
}

.switch {
    width: 160px;
    height: 48px;
    border: 1px solid $green;
    border-radius: 48px;
    margin: 20px auto 0;
    position: relative;
    &:hover {
        cursor: pointer;
    }
    &:before {
        content: "work";
        position: absolute;
        display: block;
        top: 0;
        left: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 1px;
        text-align: left;
        width: 160px;
        padding-left: 20px;
        color: $black;
        transition: all 0.3s ease;
    }
    &:after {
        content: "play";
        position: absolute;
        display: block;
        opacity: 0;
        visibility: hidden;
        top: 0;
        right: 0;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 16px;
        line-height: 44px;
        letter-spacing: 1px;
        text-align: right;
        width: 160px;
        padding-right: 20px;
        color: $black;
        transition: all 0.3s ease;
    }
    // Switch Knob
    .knob {
        transition: all 0.3s ease;
        content: '';
        position: absolute;
        top: 4px;
        right: 4px;
        height: 38px;
        width: 38px;
        border-radius: 40px;
        background: $green;
        z-index: 5;
    }
    &.play {
        border-color: $gold;
        &:before {
            opacity: 0;
            visibility: hidden;
        }
        &:after {
            opacity: 1;
            visibility: visible;
        }
        .knob {
            transform: translateX(-110px);
            background: $gold;
        }
    }
}

.larry-active .michael-large,
.michael-active .larry-large {
    transition: all 0.3s ease;
    opacity: 0.5;
}

/* Why Tamarack */
.why-tamarack {}


/* Transactions */
.transactions {}


// Industries

.industries {
    padding-top: 36px;
    display: flex;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
}
.icon {
    height: 80px;
    width: auto;
}

.col {
    padding-right: 30px;
}


// Sunbursts

.sunburst-green {
    position: absolute;
    bottom: calc( -1077px / 2);
    right: calc( -1077px / 2);
    background: url(../img/sunburst-green.svg);
    background-size: 100%;
    width: 1077px;
    height: 1077px;
    z-index: -1;
    &.big {
        width: 1400px;
        height: 1400px;
        bottom: calc( -1400px / 2);
        right: calc( -1400px / 2);
    }
}
.sunburst-gold {
    position: absolute;
    bottom: calc( -1077px / 2);
    left: calc( -1077px / 2);
    background: url(../img/sunburst-gold.svg);
    background-size: 100%;
    width: 1077px;
    height: 1077px;
    z-index: -1;
    &.big {
        width: 1400px;
        height: 1400px;
        bottom: calc( -1400px / 2);
        left: calc( -1400px / 2);
    }
}

// Parallax

.parallax-window,
.full-photo {
    /* background: url('../img/needles.jpg'); */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    /* position: absolute; */
    position: relative;
    z-index: 5;
    /* bottom: -300px; */
    margin: -7vh 0;
    left: 0;
    right: 0;
    height: 600px;
    clip-path: polygon(0px 100px, 100% 0%, 100% calc(100% - 100px), 0 100%);
}
.parallax-mirror {
    clip-path: polygon(0px 7vh, 100% 0%, 100% calc(100% - 7vh), 0 100%);
    z-index: 10 !important;
}
